@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --color-text-base: #f8f8f2;
    --color-text-muted: #c7d2fe;
    --color-text-inverted: #4f46e5;
    --color-fill: #4338ca;
    --color-button-accent: #fff;
    --color-button-accent-hover: #eef2ff;
    --color-button-muted: #6366f1; */

    /* light mode */
    --background-color-light: #f8f8f2;
    --color-fill: #44475a;

    /* Text */
    --color-text-base-light: #282a36;
    --color-text-muted-light: #2e4045;
    --color-text-inverted-light: #d7d5c9;

    /* Button */
    --color-button-accent-light: #8be9fd;
    --color-button-accent-hover-light: #6272a4;
    --color-button-muted-light: #7d9296;
  }

  body {
    background-color: var(--background-color-light);
    color: var(--color-text-base-light);
  }
}